* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
.container {
    margin: 2em 4em;
    display: flex;
    height: 50vh;
    width: 1400px;
    gap: 1em;
}
.box1 {
    flex: 1;
    border-radius: 1.3em;
    background-image: url(https://wallpapercat.com/w/full/7/f/9/1239210-3840x2160-desktop-4k-green-forest-wallpaper.jpg);
    background-size: 100% 100%;
}
@media (max-width: 1024px){
    .container {
        height: 40vh;
        gap: 1em;
        flex-flow: row wrap;
        width: 890px;
        height: 80vh;
    }
    .box1 {
        flex-basis: 30%;
    }
}
@media (max-width: 968px){
    .container {
        height: 40vh;
        gap: 1em;
        flex-flow: row wrap;
        width: 790px;
        height: 80vh;
    }
    .box1 {
        flex-basis: 40%;
    }
}
@media (max-width: 768px){
    .container {
        height: 40vh;
        gap: 1em;
        flex-flow: row wrap;
        width: 640px;
        height: 80vh;
    }
    .box1 {
        flex-basis: 40%;
    }
}
@media (max-width: 440px){
    .container {
        height: 40vh;
        gap: 1em;
        flex-flow: column nowrap;
        width: 300px;
        height: 100vh;
    }
}